body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box input {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    width: 45%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-box button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
}

#results {
    margin-top: 20px;
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.result-item:last-child {
    border-bottom: none;
}

/* Loading overlay styles */
#loading-overlay {
    display: none; /* Initially hidden */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    text-align: center;
    padding-top: 20%;
}

#loading-spinner {
    border: 16px solid #f3f3f3; /* Light gray */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.star-rating {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: red; /* Gold color for the stars */
}
.star-rating .star {
  cursor: pointer;
}
.star-rating .star.full::before {
  content: '★';
}
.star-rating .star.empty::before {
  content: '☆';
}

/* Triangle warning icon */
.warning-icon {
    display: inline-block;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid orange; /* Triangle color */
    position: relative;
    cursor: pointer;
}

/* Tooltip */
.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
    top: 25px;
    left: -10px;
}

/* Show tooltip on hover */
.warning-icon:hover .tooltip,
.warning-icon:focus .tooltip {
    display: block;
}

 /* 使用 flexbox 布局 */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* 使内容区域自适应填充剩余空间 */
}

footer {
    /*background-color: #FF5733;*/
    width: 100%;
}

.footer-content {
    text-align: center;
    padding: 10px;
}

.footer-content div {
    color: green;
    padding: 10px;
    font-style: italic;
    font-weight: bolder;
}